@import "tailwindcss";

:root {
  --color-heading-primary: #fff;
  --color-heading-accent: #22c3df;
  --color-subheading: #fff;
  --color-text: #fff;
  --color-logo: #fff; /*nav-logo*/
  --number-overlay: #cecece; /*number-overlay*/
  --color-caption: #1ed1a8; /*about-caption*/

  --color-nav: #3e3e3e; /*nav-text*/
  --bg-border: #3e3e3e; /*bg-border*/

  --accordion-text-active: #22c3df; /*accordion-text*/
  --accordion-text-default: #000; /*accordion-active*/

  --accordion-nr-active: #22c3df; /*accordion-active*/
  --accordion-nr-default: rgba(60, 60, 67, 0.502); /*accordion-nr*/

  --text-accordion-desc: #343a40; /*accordion-text-desc*/

  --color-link: #3182ce;
  --logo-footer: rgba(255, 255, 255, 0.6);
  --logo-text: rgba(255, 255, 255, 0.6);
}
