/*******************************/
/*! NAV-BAR */
/*******************************/

/*? BURGER-BTTN */

/* .burger-btn {
  display: none;
} */



.nav_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

/*! LANGUAGE-SELECT */

.lang_value:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav_links {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: clamp(18px, 2.5vw, 26px);
  color: #333;
  letter-spacing: 0.1rem;
}

.nav_cta {
  color: #333;
}
