
.aboutSubtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(18px, 3.5vw, 22px);

  color: #c7c7c7;
  letter-spacing: 0.04em;
  line-height: 1.4em;
  text-align: start;
}

.aboutDevelopment {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(18px, 3.5vw, 22px);

  /* color: #fff; */
  color: #c7c7c7;
  letter-spacing: 0.04em;
  line-height: 1.4em;
}
