.aboutSection {
  background-color: #000;
}

.aboutContainer {
  padding: 180px 0;
}

.aboutFeature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  grid-column-gap: 90px;
  grid-row-gap: 0px;
}

.aboutcontent {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* .border {
  padding: 0 15px;
} */

.aboutTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 56px;
  text-indent: 2.5em;
  color: #ffffff;
  letter-spacing: 0.2rem;

  margin-bottom: 35px;
}

.aboutTitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  height: 4px;
  background-color: rgb(31, 152, 189);
}

.aboutSubtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(18px, 3.5vw, 22px);

  color: #c7c7c7;
  letter-spacing: 0.04em;
  line-height: 1.4em;
  text-align: start;
}

.aboutDevelopment {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(18px, 3.5vw, 22px);

  /* color: #fff; */
  color: #c7c7c7;
  letter-spacing: 0.04em;
  line-height: 1.4em;
}
