/*! ACCORDION-LIST */

.accordion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;

  background-color: var(--accordion-nr-active);
  transform: scaleX(0);
  transform-origin: left;

  transition: transform 0.3s ease, background-color 0.25s ease;
}

.accordion.active::before {
  background: var(--accordion-nr-active);
  transform: scaleX(1);
}
