/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

@import "tailwindcss";
@import "tailwindcss/utilities";

/* @import "./styles/colors.css"; */
@import "./styles/gradients.css";
@import "./styles/gradients-section.css";
@import "./styles/breakpoints.css";
@import "./styles/fonts.css";

:root {
  --font-poppins: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: var(--font-poppins);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --color-primary: #fff;
  --color-heading-accent: #22c3df;

  --color-subheading: #fff;
  --color-content: #fff; /*!content */

  --color-number-overlay: #cecece; /*!number-overlay*/
  --color-caption: #1ed1a8; /*!about-caption*/

  --color-nav: ; /*!nav-text*/
  --bg-burger: #3e3e3e; /*! bg-burger*/
  --color-border: #3e3e3e; /*! pseudo-element for nav element */

  --default-nav: #fff;

  --color-accordion: #fff; /*!accordion-text-desc*/
  --accordion-text-default: #000; /*!accordion-active*/

  --accordion-nr-active: #22c3df;
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}

.text-heading-accent {
  color: var(--color-heading-accent);
}

.bg-burger {
  background-color: var(--bg-burger);
}
