@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@import "tailwindcss/utilities";

@import "./styles/colors.css";
@import "./styles/gradients.css";
@import "./styles/gradients-section.css";
@import "./styles/breakpoints.css";
@import "./styles/fonts.css";


:root {
  --font-poppins: "Poppins", sans-serif;
}

html {
  font-family: var(--font-poppins);
}

.text-heading-primary {
  color: var(--color-heading-primary);
}

.text-heading-accent {
  color: var(--color-heading-accent);
}

.text-subheading {
  color: var(--color-subheading);
}

.text-text {
  color: var(--color-text);
}

.text-logo {
  color: var(--color-logo);
}

.text-caption {
  color: var(--color-caption);
}

.text-caption-icon {
  color: var(--color-caption-icon);
}

.text-accordion-text-active {
  color: var(--accordion-text-active);
}

.text-accordion-text-default {
  color: var(--accordion-text-default);
}

.text-accordion-nr-active {
  color: var(--accordion-nr-active);
}

.text-accordion-nr-default {
  color: var(--accordion-nr-default);
}

.text-link {
  color: var(--color-link);
}

.text-logo-footer {
  color: var(--logo-footer);
}

.text-logo-text {
  color: var(--logo-text);
}
