@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@import "tailwindcss/utilities";

@import "./styles/colors.css";
@import "./styles/gradients.css";
@import "./styles/gradients-section.css";
@import "./styles/breakpoints.css";
@import "./styles/fonts.css";

:root {
  --font-poppins: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}

html {
  font-family: var(--font-poppins);
}

.text-heading-primary {
  color: var(--color-heading-primary);
}

.text-heading-accent {
  color: var(--color-heading-accent);
}

.text-subheading {
  color: var(--color-subheading);
}

/*! text-content */
.text-content {
  color: var(--color-text);
}

.text-logo {
  color: var(--color-logo);
}
/*!nav-text*/
.text-nav {
  color: var(--color-nav);
}

.bg-border {
  background-color: var(--bg-border);
} 
/*!number-overlay*/
.text-number-overlay {
  color: var(--number-overlay);
}
/*!about-caption*/
.text-caption {
  color: var(--color-caption);
}
/*!accordion-text-desc*/
.text-accordion {
  color: var(--text-accordion-desc);
}
/*!accordion-text*/
.text-accordion-title-active {
  color: var(--accordion-text-active);
}
/*!accordion-active*/
.text-accordion-title-default {
  color: var(--accordion-text-default);
}

/*!accordion-active*/
.text-accordion-nr-active {
  color: var(--accordion-nr-active);
}

/*!accordion-nr*/
.text-accordion-nr-default {
  color: var(--accordion-nr-default);
}
/*! color-link*/
.text-link {
  color: var(--color-link);
}
/*!logo-footer*/
.text-logo-footer {
  color: var(--logo-footer);
}

.text-logo-text {
  color: var(--logo-text); /*!logo-text*/
}
