
/*? overlay */

.galleryItem:hover .overlay {
  opacity: 1;
}

.cardTitle {
  position: absolute;

  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  font-size: 28px;

  color: #fff;
  line-height: 0.02em;
  letter-spacing: 0.04em;
  width: 100%;

  top: 50%;
  left: 0;
  color: #fff;
  text-align: center;
}

.cardNumber {
  position: absolute;

  right: 15px;
  top: 15px;

  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 400;
  color: #cecece;
  letter-spacing: 5.4px;
}
